.cart-page {
  padding: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.cart-item h4 {
  font-size: 14px;
}

.cart-item button {
  margin-left: auto;
  padding: 5px 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
}

/* MOBILE */
@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item button {
    margin-left: 0;
  }
}