.card {
  background: white;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.card h4 {
  font-size: 14px;
  margin: 8px 0;
}

.card p {
  font-weight: bold;
  color: green;
}

/* BUTTONS */
.card button {
  margin-top: 5px;
  padding: 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card button:first-of-type {
  background: #ff9f00;
  color: white;
}

.card button:last-of-type {
  background: #ff4081;
  color: white;
}